@import url('https://fonts.googleapis.com/css2?family=Arya&family=Fleur+De+Leah&family=Rock+3D&family=Sacramento&display=swap');

.text-my, .text-tinerary{
    font-family: 'Fleur De Leah', cursive;
}

.slogan{
    font-family: 'Arya', sans-serif;
}

.fontLogo{
    font-family: 'Fleur De Leah', cursive;
    
  }
  
  